<div class="mt-80 parallax" style="background-image:url(<%= image_path('1920-1200-normal.jpg')%>)" data-speed="10">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-6 no-gutter">
                <div class="quick-appointment-form">
                    <h3 class="heading thin font-2 inverse font30">Book Appointment</h3>
                    <p class="text-muted">Behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics.</p>
                    <br/>
                    <form>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input class="form-control" type="text" placeholder="Your First Name">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input class="form-control" type="text" placeholder="Your Last Name">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input class="form-control" type="text" placeholder="Your Phone Number">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input class="form-control" type="number" placeholder="Your Email ID">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input class="form-control date-select" type="text" placeholder="Your Date of Birth">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <select>
                                        <option>Select Appointment Slot</option>
                                        <option>9:00 p.m. - 12:00 p.m.</option>
                                        <option>12:00 p.m. - 4:00 p.m.</option>
                                        <option>4:00 p.m. - 8:00 p.m.</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <textarea class="form-control" rows="5" placeholder="Your Message"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-black" type="submit"><i class="fa fa-paper-plane"></i> Book Appointment</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>