<div class="container mt-80">
    <div class="row">
        <div class="col-sm-12">
            <div class="heading-block">
                <h2 class="heading">Image <span class="color1">Department</span> Sections</h2>
                <p class="sub-heading">Behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics.</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="department-box-2">
                <div class="head">
                    <i class="med-icon icon-i-anesthesia"></i>
                    <h3 class="heading">Radiology and Urology</h3>
                </div>
                <div class="body">
                    <p>Behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics.</p>
                    <br>
                    <a href="department-single-sidebar.html" class="btn btn-primary btn-sm">Know More</a>
                </div>    
            </div>
        </div>
        <div class="col-sm-4">
            <div class="department-box-2">
                <div class="head">
                    <i class="med-icon icon-i-cardiology"></i>
                    <h3 class="heading">Cardiology and Transplant</h3>
                </div>
                <div class="body">
                    <p>Behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics.</p>
                    <br>
                    <a href="department-single-sidebar.html" class="btn btn-primary btn-sm">Know More</a>
                </div>    
            </div>
        </div>
        <div class="col-sm-4">
            <div class="department-box-2">
                <div class="head">
                    <i class="med-icon icon-i-dental"></i>
                    <h3 class="heading">Dental Care and Hygiene</h3>
                </div>
                <div class="body">
                    <p>Behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics.</p>
                    <br>
                    <a href="department-single-sidebar.html" class="btn btn-primary btn-sm">Know More</a>
                </div>    
            </div>
        </div>
    </div>
</div>