<div class="container mt-80">
  <div class="row">
    <div class="col-sm-12">
      <div class="heading-block">
        <h2 class="heading">Michiana <span class="color1">Direct Primary Care</span></h2>
        <p class="sub-heading">It's called "Direct Primary Care" and with the recent surge in health care costs, it's rapidly gaining popularity across the nation as a new and innovative way to help individuals get affordable care without the use of insurance.</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="department-box-2">
        <div class="head">
          <i class="med-icon icon-i-billing"></i>
          <h3 class="heading">The Affordable Solution</h3>
        </div>
        <div class="body">
          <p>Do you have a high deductible health insurance plan? Are you paying hundreds in out-of-pocket expenses for doctor's visits and lab work? If so, our clinic has an affordable membership program that can help you get the care that you need.</p>
          <br>
          <a href="department-single-sidebar.html" class="btn btn-primary btn-sm">Know More</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="department-box-2">
        <div class="head">
          <i class="med-icon icon-i-medical-library"></i>
          <h3 class="heading">Why It Works</h3>
        </div>
        <div class="body">
          <p>Not having to send claims to an insurance company saves us a lot of money and we pass those savings directly on to you through our membership program.</p>
          <br>
          <a href="department-single-sidebar.html" class="btn btn-primary btn-sm">Know More</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="department-box-2">
        <div class="head">
          <i class="med-icon icon-i-social-services"></i>
          <h3 class="heading">What's Included</h3>
        </div>
        <div class="body">
          <p>Once enrolled in our monthly membership program, any service we can offer within the walls of our clinic is discounted. <strong>Office visits are just $10, in-office lab tests are free, and huge discounts are offered for blood testing.</strong></p>
          <br>
          <a href="department-single-sidebar.html" class="btn btn-primary btn-sm">Know More</a>
        </div>
      </div>
    </div>
  </div>
</div>
