<footer class="footer-2">           <!-- footer Style 2  -->
    <div class="footer-pri">            <!-- Primary Footer -->
        <div class="bgcolor1 pt-20 pb-20 mb-40">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 no-gutter">
                        <div class="widget widget-icon">
                            <strong>Call Us </strong>
                            <i class="fa fa-phone"></i>
                            <span><a href="tel:5743146436" style="color:#fff;">574 314 6436</a></span>
                        </div>
                    </div>
                    <div class="col-sm-4 no-gutter">
                        <div class="widget widget-icon">
                            <strong>Fax Us </strong>
                            <i class="fa fa-fax"></i>
                            <span><a href="tel:5744852984" style="color:#fff;">574 485 2984</a></span>
                        </div>
                    </div>
                    <div class="col-sm-4 no-gutter">
                        <div class="widget widget-icon">
                            <strong>We're Social</strong>
                            <i class="fa fa-comment-o"></i>
                            <span>@michianadpc</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="widget widget-about">
                        <a href="home-version-1.html">
					<img src="<%= image_path('mdpc_logo_white.png') %>" alt=""></a>
                        <br/><br/>
                        <p>We are an independent, physician-owned (not hospital-owned) practice which means our only interest resides in providing you with the best patient care possible.</p>
                        <hr/>
                        <ul class="contact">
                            <li><i class="fa fa-phone"></i> <a href="tel:5743146436">574-314-6436</a></li>
                            <li><i class="fa fa-fax"></i> <a href="tel:5744852984">574-485-2984</a></li>
                        </ul>
                        
                    </div>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-5">
                    <div class="widget widget-links">
                      <h4 class="heading">Helpful Links</h4>
                      <div class="row">
                      	<div class="col-sm-6">
		                      <ul>
		                        <li><a href="book-appointment-form.html">Book Appoitment</a></li>
		                        <li><a href="about.html">About Michiana DPC</a></li>
		                        <li><a href="process.html">Process</a></li>
		                      </ul>
	                      </div>
	                      <div accesskey="col-sm-6"cl>
		                      <ul>                            
		                        <li><a href="doctor-single.html">Doctor Profile</a></li>
		                        <li><a href="contact-1.html">Contact Us</a></li>
		                        <li><a href="policies.html">Our Privacy Policy</a></li>
		                      </ul>
	                      </div>
                      </div>
                    </div>
                    <hr/>
                    <ul class="social">
                      <li><a href="http://www.facebook.com/michianadpc" target="_blank"><i class="fa fa-facebook"></i></a></li>
                      <!-- <li><a href=""><i class="fa fa-twitter"></i></a></li> -->
                      <li><a href="https://plus.google.com/+Michianadpc" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                      <li><a href="https://www.youtube.com/channel/UCxfXD7gR6QDJEf4dSVwvm-w" target="_blank"><i class="fa fa-youtube-play"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-sec">            <!-- Secondary Footer -->
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <span>&copy; 2018 All rights Reserved. Michiana Direct Primary Care</span>
                </div>
            </div>
        </div>
    </div>
</footer>
