<div class="container mt-80">
    <div class="row">
        <div class="col-sm-7">
            <h2 class="heading"> <span class="color1">Welcome</span> to Michiana Direct Primary Care</h2>
            <p class="justify">We are very excited to be Michiana's first "Direct Primary Care" family physician clinic offering primary care services to Michiana including the Granger, Mishawaka, and South Bend communities.</p>
            <p class="justify">Our family practice is dedicated to providing you with high-quality, accessible health care. We see patients of all ages and try to accommodate same-day office visits for urgent care needs and provide a full spectrum of family medicine services.</p>
            <div class="row mt-40">
                <div class="col-sm-4">

                    	<ul>
                    		<li>Childhood vaccines</li>
                    		<li>Wellness exams</li>
                    		<li>Urinary infections</li>
                        <li>High blood pressure (hypertension)</li>
                        <li>Sports physicals</li>
                        <li>Irregular menses</li>
                        <li>Abdominal pain</li>
                        <li>Arthritis</li>
                        <li>Strep throat</li>
                        <li>Joint injections</li>
                    	</ul>

                </div>
                <div class="col-sm-4">

                    	<ul>
                    		<li>Thyroid disorders</li>
                    		<li>Diabetes</li>
                    		<li>High blood pressure</li>
                        <li>Asthma</li>
                        <li>Pap/pelvic exams</li>
                        <li>STI testing and treatment</li>
                        <li>Cold/flu</li>
                        <li>Minor injuries/lacerations (stitches)</li>
                        <li>Skin tag removal</li>
                        <li>Rashes</li>
                    	</ul>

                 </div>
                 <div class="col-sm-4">

                    	<ul>
                    		<li>High cholesterol</li>
                    		<li>Cold/flu</li>
                    		<li>Anxiety/depression</li>
                        <li>COPD/emphysema</li>
                        <li>Family planning</li>
                        <li>Bladder infections</li>
                        <li>Ear infections</li>
                        <li>Ear wax removal</li>
                        <li>Wart removal</li>
                    	</ul>

                </div>
                <!-- <div class="col-sm-6">
                    <h4>Wellness exams</h4>
                    <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however.</p>
                </div> -->
            </div>
            <div class="row mt-20">
                <div class="col-sm-6">
                    <h4>Insurance</h4>
                    <p>We accept <a href="/insurance">several major insurance plans</a> including Anthem Blue Cross Blue Shield and United Healthcare.</p>
                </div>
                <div class="col-sm-6">
                    <h4>Self-Pay</h4>
                    <p>For those who are uninsured or have a high-deductible health insurance plan, we offer affordable self-pay pricing as well as a monthly membership program to help you save even more. See our "Direct Primary Care" page for more details.</p>
                </div>
            </div>
            <div class="row mt-20">
            	<div class="col-sm-12">
								<p><strong>Dr. Tuttle is currently taking new patients.</strong> Call today at <a href="tel:5743146436">574-314-6436</a> for an appointment or schedule online!</p>
            	</div>
            </div>
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-3">
        	<style>
        		td {padding:7px;}
        	</style>
        	<table class="table">
            <thead>
              <tr>
                <td colspan="2"><h3>Hours of Operation</h3></td>
              </tr>
            </thead>
            <tbody>
              <tr>
          			<td><strong>Monday</strong></td>
          			<td>8:00am - 5:00pm</td>
          		</tr>
          		<tr>
          			<td><strong>Tuesday</strong></td>
          			<td>8:00am - 5:00pm</td>
          		</tr>
          		<tr>
          			<td><strong>Wednesay</strong></td>
          			<td>8:00am - 5:00pm</td>
          		</tr>
          		<tr>
          			<td><strong>Thursday</strong></td>
          			<td>8:00am - 5:00pm</td>
          		</tr>
          		<tr>
          			<td><strong>Friday</strong></td>
          			<td>8:00am - 5:00pm</td>
          		</tr>
          		<tr>
          			<td><strong>Saturday</strong></td>
          			<td>CLOSED</td>
          		</tr>
          		<tr>
          			<td><strong>Sunday</strong></td>
          			<td>CLOSED</td>
          		</tr>
            </tbody>
        	</table>
            <!-- <div class="youtube" data-video-id="IeSW2Gg1qIY" style="height: 500px;"> -->           <!-- Replace video id with your video id -->
                <!-- <i class="fa fa-play btn-play"></i>
            </div> -->
        </div>
    </div>
</div>
