<div class="container mt-80">
    <div class="row">
        <div class="col-sm-7">
            <h2 class="heading"> <span class="color1">Excellence</span> is the word.</h2>
            <p class="justify">A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
            <div class="row mt-40">
                <div class="col-sm-6">
                    <h4>Cardiac Department</h4>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                </div>
                <div class="col-sm-6">
                    <h4>Research &amp; Development</h4>
                    <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however.</p>
                </div>
            </div>
            <div class="row mt-20">
                <div class="col-sm-6">
                    <h4>World Research Centres</h4>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                </div>
                <div class="col-sm-6">
                    <h4>Intensive Care Given </h4>
                    <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="youtube" data-video-id="IeSW2Gg1qIY" style="height: 500px;">           <!-- Replace video id with your video id -->
                <i class="fa fa-play btn-play"></i>
            </div>
        </div>
    </div>
</div>