<div class="container mt-80">
    <div class="row">
        <div class="col-sm-7">
            <h2 class="heading"> <span class="color1">Welcome</span> to Michiana Direct Primary Care</h2>
            <p class="justify">We are very excited to be Michiana's first "Direct Primary Care" family physician clinic offering primary care services to Michiana including the Granger, Mishawaka, and South Bend communities.</p>
            <p class="justify">Our family practice is dedicated to providing you with high-quality, accessible health care. We see patients of all ages and try to accommodate same-day office visits for urgent care needs and provide a full spectrum of family medicine services.</p>
            <div class="row mt-40">
                <div class="col-sm-4">

                    	<ul>
                    		<li>Childhood vaccines</li>
                    		<li>Wellness exams</li>
                    		<li>Urinary infections</li>
                    	</ul>

                </div>
                <div class="col-sm-4">
   	
                    	<ul>
                    		<li>Thyroid disorders</li>
                    		<li>Diabetes</li>
                    		<li>High blood pressure</li>
                    	</ul>

                 </div>
                 <div class="col-sm-4">

                    	<ul>
                    		<li>High cholesterol</li>
                    		<li>Cold/flu</li>
                    		<li>Anxiety/depression</li>
                    		<li><a href="#">And many more</a></li>
                    	</ul>

                </div>
                <!-- <div class="col-sm-6">
                    <h4>Wellness exams</h4>
                    <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however.</p>
                </div> -->
            </div>
            <div class="row mt-20">
                <div class="col-sm-6">
                    <h4>Insurance</h4>
                    <p>We accept several major insurance plans including Anthem Blue Cross Blue Shield and United Healthcare.</p>
                </div>
                <div class="col-sm-6">
                    <h4>Thyroid disorders</h4>
                    <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="youtube" data-video-id="IeSW2Gg1qIY" style="height: 500px;">           <!-- Replace video id with your video id -->
                <i class="fa fa-play btn-play"></i>
            </div>
        </div>
    </div>
</div>