<div class="container mt-80">
    <div class="row">
        <div class="col-sm-12">
            <div class="heading-block">
                <h2 class="heading">Meet <span class="color1">Our</span> Doctors</h2>
                <p class="sub-heading">Behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics.</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="doctor-box-1">
                <img src="<%= image_path('doc-2.png') %>" class="img-responsive" alt="">
                <div class="doctor-details">
                    <h5 class="doctor-name">Mr. Roberto Blackwell</h5>
                    <span class="doctor-desig">Managing Director</span>
                </div>
                <div class="doctor-social">
                    <ul class="social">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                    <br/>
                    <a href="doctor-single-sidebar.html" class="btn btn-primary btn-sm">View profile</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="doctor-box-1">
                <img src="<%= image_path('doc-1.png') %>" class="img-responsive" alt="">
                <div class="doctor-details">
                    <h5 class="doctor-name">Ms. Everett Holder</h5>
                    <span class="doctor-desig">Head Of Department</span>
                </div>
                <div class="doctor-social">
                    <ul class="social">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                    <br/>
                    <a href="doctor-single-sidebar.html" class="btn btn-primary btn-sm">View profile</a>
                </div>                    
            </div>
        </div>
        <div class="col-sm-4">
            <div class="doctor-box-1">
                <img src="<%= image_path('doc-3.png') %>" class="img-responsive" alt="">
                <div class="doctor-details">
                    <h5 class="doctor-name">Ms. Mike Hendricks</h5>
                    <span class="doctor-desig">Senior Gynae</span>
                </div>
                <div class="doctor-social">
                    <ul class="social">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                    <br/>
                    <a href="doctor-single-sidebar.html" class="btn btn-primary btn-sm">View profile</a>
                </div>                   
            </div>
        </div>
    </div>
</div>