<div class="container mt-80">
    <div class="row">
        <div class="col-sm-12">
            <div class="heading-block">
                <h2 class="heading">Meet <span class="color1">Our</span> Doctor</h2>
                <p class="sub-heading">Dr. Tuttle is currently board certified by the American Board of Family Medicine. He is also a member of the Indiana State Medical Association and the American Academy of Family Physicians.</p>
            </div>
        </div>
        <div class="col-sm-4">
            <!-- <div class="doctor-box-1">
                <img src="<%= image_path('doc-2.png') %>" class="img-responsive" alt="">
                <div class="doctor-details">
                    <h5 class="doctor-name">Mr. Roberto Blackwell</h5>
                    <span class="doctor-desig">Managing Director</span>
                </div>
                <div class="doctor-social">
                    <ul class="social">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                    <br/>
                    <a href="doctor-single-sidebar.html" class="btn btn-primary btn-sm">View profile</a>
                </div>
            </div> -->
        </div>
        <div class="col-sm-4">
            <div class="doctor-box-1">
                <img src="<%= image_path('tuttle.png') %>" class="img-responsive" alt="">
                <div class="doctor-details">
                    <h5 class="doctor-name">Dr. Jacob Tuttle, M.D.</h5>
                    <span class="doctor-desig">Founder / Physician</span>
                </div>
                <div class="doctor-social">
                    <ul class="social">
                        <li><a href="http://www.facebook.com/michianadpc" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <!-- <li><a href="http://www.twitter.com/michianadpc" target="_blank"><i class="fa fa-twitter"></i></a></li> -->
                        <li><a href="http://www.linkedin.com/in/jake-tuttle-6332199b" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                    <br/>
                    <a href="/doctor" class="btn btn-primary btn-sm">View profile</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <!-- <div class="doctor-box-1">
                <img src="<%= image_path('doc-3.png') %>" class="img-responsive" alt="">
                <div class="doctor-details">
                    <h5 class="doctor-name">Ms. Mike Hendricks</h5>
                    <span class="doctor-desig">Senior Gynae</span>
                </div>
                <div class="doctor-social">
                    <ul class="social">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                    <br/>
                    <a href="doctor-single-sidebar.html" class="btn btn-primary btn-sm">View profile</a>
                </div>
            </div> -->
        </div>
    </div>
</div>
