<div class="bgcolor1 pt-60 pb-60">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="iconbox-4">
                    <i class="med-icon icon-i-anesthesia"></i>
                    <br><br>
                    <h4 class="heading">Best Patient Care Provided</h4>
                    <p>Behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <br>
                    <a href="why-us.html" class="btn btn-black btn-sm">Read More</a>                    
                </div>
            </div>
            <div class="col-sm-4">
                <div class="iconbox-4">
                    <i class="med-icon icon-i-dental"></i>
                    <br><br>
                    <h4 class="heading">100+ Doctors On Panel</h4>
                    <p>Behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <br>
                    <a href="why-us.html" class="btn btn-black btn-sm">Read More</a>                    
                </div>
            </div>
            <div class="col-sm-4">
                <div class="iconbox-4">
                    <i class="med-icon icon-i-cardiology"></i>
                    <br><br>
                    <h4 class="heading">Most Advanced MRI Machines</h4>
                    <p>Behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <br>
                    <a href="why-us.html" class="btn btn-black btn-sm">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>