<div class="bgcolor2 pt-60 pb-60 mt-80">
    <div class="container">
        <div class="row">
            <div class="col-sm-7 mt-20">
                <div class="carousel slide" id="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li class="active" data-slide-to="0" data-target="#carousel"></li>
                        <li data-slide-to="1" data-target="#carousel"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="<%= image_path('850-450-normal-1.jpg') %>" alt="First slide">
                        </div>
                        <div class="item">
                            <img src="<%= image_path('850-450-normal-2.jpg') %>" alt="Second slide">
                        </div>
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" data-slide="prev" href="#carousel">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a class="right carousel-control" data-slide="next" href="#carousel">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-sm-5 mt-20">
                <h3 class="heading">Things We Follow.</h3>
                <hr class="hr-1 left">
                <p class="lead">Even the all-powerful Pointing has no control about the blind texts.</p>
                <ul class="list-styled">
                    <li>One day however a small line of blind text by the name of Lorem Ipsum.</li>
                    <li>A small river named Duden flows by their place and supplies it with the necessary regelialia</li>
                    <li>One day however a small line of blind text by the name of Lorem Ipsum.</li>
                </ul>
            </div>
        </div>
    </div>
</div>