<div class="bgcolor1 pt-60 pb-60">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="iconbox-4">
                    <i class="med-icon icon-i-health-services"></i>
                    <br><br>
                    <h4 class="heading">Best Patient Care</h4>
                    <p>Our primary care practice offers treatment for a wide-spectrum of conditions. We see patients of all ages.</p>
                    <br>
                    <a href="/about" class="btn btn-black btn-sm">Read More</a>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="iconbox-4">
                    <i class="med-icon icon-i-family-practice"></i>
                    <br><br>
                    <h4 class="heading">Independent</h4>
                    <p>We are an independent, physician-owned practice which means our only interest resides in providing you with the best patient care possible.</p>
                    <br>
                    <a href="/about" class="btn btn-black btn-sm">Read More</a>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="iconbox-4">
                    <i class="med-icon icon-i-billing"></i>
                    <br><br>
                    <h4 class="heading">Affordable Healthcare</h4>
                    <p>Our clinic has an affordable membership program that can help you get the care that you need.</p>
                    <br>
                    <a href="/about" class="btn btn-black btn-sm">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>
