<div class="topbar">            <!-- Topbar -->
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <ul class="social">
                    <li><a href="http://www.facebook.com/michianadpc" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <!-- <li><a href="http://www.twitter.com/michianadpc" target="_blank"><i class="fa fa-twitter"></i></a></li> -->
                    <li><a href="https://plus.google.com/+Michianadpc" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="https://www.youtube.com/channel/UCxfXD7gR6QDJEf4dSVwvm-w" target="_blank"><i class="fa fa-youtube-play"></i></a></li>
                </ul>
            </div>
            <div class="col-md-6">
                <ul class="contact">
                    <li><span>Call Us : </span> <a href="tel:5743146436" style="color:#fff;">574 314 6436</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
