<div class="pt-60 pb-60 subscribe parallax" style="background-image:url(<%= image_path('1920-600-dark.jpg') %>)" data-speed="1.5">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="heading inverse text-center">Subscribe to NewsLetter and stay informed. <span class="color1">Subscribe to us today!</span></h3>
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-6 col-sm-offset-3 mt-20">
                <form>
                    <div class="input-group">
                        <input type="text" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button">Subscribe</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>