<div class="app-download-dark bgcolor1 pt-60 pb-60 mt-80" style="background-image:url(<%= image_path('technology.jpg') %>)">
    <div class="container">
        <div class="row">
            <div class="col-sm-7 col-sm-offset-5">
                <h2 class="heading inverse">Join our Mailing List today!</h2>
                <p>Never miss an update.</p>
                <br>
                <form>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Enter your email address">
                        <span class="input-group-btn">
                            <button class="btn btn-black" type="button"><i class="fa fa-arrow-right"></i></button>
                        </span>
                    </div>
                </form>
                <!-- <br>
                <ul class="app-links">
                    <li>
                        <a href="#" class="btn btn-app">
                            <span class="icon">
                                <i class="fa fa-apple"></i>
                            </span>
                            <span class="text">
                                Get App
                                <span class="sub-text">iOS Store</span>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="btn btn-app">
                            <span class="icon">
                                <i class="fa fa-android"></i>
                            </span>
                            <span class="text">
                                Get App
                                <span class="sub-text">iOS Store</span>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="btn btn-app">
                            <span class="icon">
                                <i class="fa fa-windows"></i>
                            </span>
                            <span class="text">
                                Get App
                                <span class="sub-text">iOS Store</span>
                            </span>
                        </a>
                    </li>
                </ul> -->
            </div>
        </div>
    </div>
</div>