<div class="loader-backdrop">           <!-- Loader -->
  <div class="loader"></div>
</div>

<header class="header-1">           <!-- Header Style 1 -->
  <%= render 'shared/nav_main_dark' %>
</header>

<div class="page-header">
  <div class="container">
    <h1>Michiana DPC Administration</h1>
    <div class="breadcrumb-2">
    </div>
  </div>
</div>

<div class="container mt-80">
  <div class="row">
      <div class="col-sm-4">
          <div class="iconbox-1">
              <div class="iconbox-icon">
                  <i class="fa fa-users"></i>
              </div>
              <div class="iconbox-content">
                  <h4 class="heading">Subscribers</h4>
                  <p>Search, view, and update subscriber information.</p>
              </div>
          </div>
      </div>
      <div class="col-sm-4">
          <div class="iconbox-1">
              <div class="iconbox-icon">
                  <i class="fa fa-credit-card"></i>
              </div>
              <div class="iconbox-content">
                  <h4 class="heading">Payments</h4>
                  <p>Search, view, and update payment information.</p>
              </div>
          </div>
      </div>
      <!-- <div class="col-sm-4">
          <div class="iconbox-1">
              <div class="iconbox-icon">
                  <i class="fa fa-hourglass-o"></i>
              </div>
              <div class="iconbox-content">
                  <h4 class="heading">Qualified Doctors</h4>
                  <p>Behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
              </div>
          </div>
      </div>
      <div class="col-sm-4">
          <div class="iconbox-1">
              <div class="iconbox-icon">
                  <i class="fa fa-bell-o"></i>
              </div>
              <div class="iconbox-content">
                  <h4 class="heading">Experienced Nurses</h4>
                  <p>Behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
              </div>
          </div>
      </div>
      <div class="col-sm-4">
          <div class="iconbox-1">
              <div class="iconbox-icon">
                  <i class="fa fa-wheelchair"></i>
              </div>
              <div class="iconbox-content">
                  <h4 class="heading">Excellent Support Staff</h4>
                  <p>Behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
              </div>
          </div>
      </div>
      <div class="col-sm-4">
          <div class="iconbox-1">
              <div class="iconbox-icon">
                  <i class="fa fa-assistive-listening-systems"></i>
              </div>
              <div class="iconbox-content">
                  <h4 class="heading">Advanced Machines</h4>
                  <p>Behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
              </div>
          </div>
      </div> -->
  </div>
</div>

<!-- Custom JS -->
<script src="<%= javascript_path('script.js') %>" type="text/javascript"></script>
