<nav class="navbar navbar-default">         <!-- Navigation Bar -->
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navigation" aria-expanded="false">
        <span class="sr-only">Toggle Menu</span>
        <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand" href="<%= root_url %>">
        <img src="<%= image_path('mdpc_logo.png') %>" style="width:150px;" alt="">          <!-- Replace with your Logo -->
      </a>
    </div>
    <div class="collapse navbar-collapse" id="main-navigation">         <!-- Main Menu -->
      <ul class="nav navbar-nav navbar-right">
        <%= render 'shared/nav_links' %>
      </ul>
    </div>
  </div>
</nav>
