<!DOCTYPE html>
<html>
  <head>
    <title>Michiana Direct Primary Care</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body data-no-turbolink>
    <%= yield %>
  </body>
</html>
